:root{
    /*Colors*/
    --Pure_white: #FFF;
    --Cream: #F2EAE2;
    --Aurometal_saurus: #6C7289;
    --Deep_Acuamarine:  #3D8168;
    --Deep_Acuamarine_Hover: #1A4032;
    --Gun_Metal: #1C232B;

    /*Fonts*/
    --Monserrat: 'Montserrat', sans-serif;
    --Fraunces: 'Fraunces', serif;
}
@media screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .area{
        background-color: var(--Pure_white);
        width: 300px;
        height: 550px;
        border-radius: 10px;
    }
    
    .side{
        width: 300px;
        height: 180px;
    }
    
    .image{
        background-image: url(../img/image-product-mobile.jpg);
        background-repeat: no-repeat;
        background-size: 300px;
        border-radius: 10px 0px 0px 10px;
    }
    
    .product{
        color: var(--Aurometal_saurus);
        font-size: 12px;
        font-family: var(--Monserrat);
    }
    
    .product-name{
        color: var(--Gun_Metal);
        font-size: 32px;
        font-family: var(--Fraunces);
    }
    
    .description{
        color: var(--Aurometal_saurus);
        font-size: 14px;
        font-family: var(--Monserrat);
    }
    
    .price{
        display: flex;
    }
    
    .sale-price{
        color: var(--Deep_Acuamarine);
        font-size: 32px;
        font-family: var(--Fraunces);
    }
    
    .original-price{
        color: var(--Aurometal_saurus);
        font-size: 13px;
        font-family: var(--Monserrat);
        text-decoration: line-through;
        margin: auto;
    }
    .buy-box{
        background-color: var(--Deep_Acuamarine);
        width: 70%;
        color: var(--Pure_white);
        font-size: 14px;
        font-family: var(--Monserrat);
        border-radius: 10px;
        padding: 10px;
    }
    button:hover, button:active{
        background-color: var(--Deep_Acuamarine_Hover);
    }
    button:active{
        font-weight: bold;
    }
    .adjust-text{
        margin:  3% 12%;
    }
    body{
        background-color: var(--Cream);
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (min-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .area{
        background-color: var(--Pure_white);
        width: 600px;
        height: 480px;
        border-radius: 10px;
        display: flex;
    }
    
    .side{
        width: 300px;
        height: 1200px;
    }
    
    .image{
        background-image: url(../img/image-product-desktop.jpg);
        background-repeat: no-repeat;
        background-size: 320px;
        border-radius: 10px 0px 0px 10px;
    }
    
    .product{
        color: var(--Aurometal_saurus);
        font-size: 12px;
        font-family: var(--Monserrat);
    }
    
    .product-name{
        color: var(--Gun_Metal);
        font-size: 32px;
        font-family: var(--Fraunces);
    }
    
    .description{
        color: var(--Aurometal_saurus);
        font-size: 14px;
        font-family: var(--Monserrat);
    }
    
    .price{
        display: flex;
    }
    
    .sale-price{
        color: var(--Deep_Acuamarine);
        font-size: 32px;
        font-family: var(--Fraunces);
    }
    .original-price{
        color: var(--Aurometal_saurus);
        font-size: 13px;
        font-family: var(--Monserrat);
        text-decoration: line-through;
        margin: auto;
    }
    
    .buy-box{
        background-color: var(--Deep_Acuamarine);
        width: 70%;
        color: var(--Pure_white);
        font-size: 14px;
        font-family: var(--Monserrat);
        border-radius: 10px;
        padding: 10px;
    }
    button:hover, button:active{
        background-color: var(--Deep_Acuamarine_Hover);
    }
    button:active{
        font-weight: bold;
    }
    .adjust-text{
        margin:  5% 12%;
    }
    body{
        background-color: var(--Cream);
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

